/*
Original emoji resource: https://codepen.io/GeorgePark/pen/aazBGj
*/

.emoji {
  position: absolute;
  display: none;
  font-size: calc(100px + 4vw);
  min-width: 1.4em;
  margin: 0.3em 0.4em;
  text-align: center;
}

.emoji::after {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.wave::after {
  content: "✋";
  --emoji: "👋";
  animation-name: twoFrames;
  animation-duration: 1s;
}

@keyframes twoFrames {
  50% {
    content: var(--emoji);
  }
}
