@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap");
@import "emoji.css";

body {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  background-color: black;
  color: white;
  padding: 8px;
}

h1 {
  font-size: 2.5em;
}

button {
  background-color: black;
  border: 2px solid #696969;
  border-radius: 25px;
  box-sizing: border-box;
  color: #fff;
  font-size: 1em;
  padding: 8px 16px;
  margin: auto;
}

button:hover {
  color: rgb(255, 222, 130);
  box-shadow: inset 0 0 10px rgba(253, 136, 27, 0.6),
    0 0 9px 3px rgba(253, 42, 27, 0.2);
}

button:focus {
  font-weight: bold;
  color: orange;
  border: 2px solid orange;
  box-shadow: transparent;
}

#homepage {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

@media screen and (min-width: 600px) {
  #homepage {
    margin: 0 100px;
    font-size: 1.1em;
  }
}
