@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap");

body {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  background-color: black;
  color: white;
  padding: 8px;
}

h1 {
  font-size: 2.5em;
}

button {
  background-color: black;
  border: 2px solid #696969;
  border-radius: 25px;
  box-sizing: border-box;
  color: #fff;
  font-size: 1em;
  padding: 8px 16px;
  margin: auto;
}

#homepage {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

@media screen and (min-width: 600px) {
  #homepage {
    margin: 0 100px;
  }
}
